<a href="https://colab.research.google.com/github/luis-fer993/py-projects/blob/main/Sec_1_3_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Sin t√≠tulo.png]()<br>
**Formador: Ayda Andrea Franco Villamil**<br>**Secci√≥n 1.3**<br> **2 de Septiembre 2021**

# Try y Except

In [ ]:
#Para explicar Try y Except utilizaremos de ejemplo una funci√≥n que convierte la temperatura en grados Fahrenheit a una temperatura en grados Celsius: 

temperatura_fahr = input('Ingrese la temperatura en grados Fahrenheit: ')
fahr = float(temperatura_fahr)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

Ingrese la temperatura en grados Fahrenheit: hola

ValueError: ignored

Si ejecutamos este c√≥digo y le damos una entrada inv√°lida, simplemente falla con un mensaje de error poco amistoso como por ejemplo ingresando una palabra "Grado" en la entrada:

In [ ]:
temperatura_fahr = input('Ingrese la temperatura en grados Fahrenheit: ')
fahr = float(temperatura_fahr)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

Ingrese la temperatura en grados Fahrenheit: temperatura

ValueError: ignored

Esto ocurre por que cuando el programa detecta un error no pasa a la linea siguiente, sino simplemente se detiene.

Hay una estructura de ejecuci√≥n condicional incorporada en Python para manejar estos tipos de errores esperados e inesperados llamada "try / except". La idea de try y except es que se sabe que alguna secuencia de instrucci√≥n(es) puede tener un problema y se quiere a√±adir algunas declaraciones para ser ejecutadas si se produce un error. Estas declaraciones adicionales (el bloque except) se ignoran si no hay ning√∫n error. Puedes pensar en la caracter√≠stica try y except de Python como una "p√≥liza de seguro" en una secuencia de declaraciones. 

Podemos reescribir nuestro convertidor de temperatura de la siguiente manera:

In [ ]:
temperatura_fahr = input('Enter Fahrenheit Temperature:')
try:
    fahr = float(temperatura_fahr)
    cel =  5.0 / (9.0 * (fahr - 32.0))
    print(cel)
except:
    print('Please enter a number')

Enter Fahrenheit Temperature:hola
Please enter a number

Python comienza ejecutando la secuencia de declaraciones en el bloque de prueba. Si todo va bien, se salta el bloque de excepci√≥n y procede. Si se produce una excepci√≥n en el bloque de prueba, Python salta del bloque de prueba y ejecuta la secuencia de sentencias en el bloque de excepci√≥n.

Manejar una excepci√≥n con una declaraci√≥n de intento se llama atrapar una excepci√≥n. En este ejemplo, la cl√°usula "except" imprime un mensaje de error. En general, capturar una excepci√≥n le da la oportunidad de arreglar el problema, o intentarlo de nuevo, o al menos terminar el programa con gracia.

#**Listas**<br>
Una lista es una secuencias ordenadas de objetos de distintos tipos.

Se construyen poniendo los elementos entre corchetes [ ] separados por comas.

Se caracterizan por:

Tienen orden.<br>
Pueden contener elementos de distintos tipos.<br>
Son mutables, es decir, pueden alterarse durante la ejecuci√≥n de un programa.

In [ ]:
type([])

list

In [ ]:
[1, "dos", True]  #listas con elementos de distintos
[1, [2, 3], 4] # listas anidadas

#**Creaci√≥n de listas mediante la funci√≥n list()**<bR>
Otra forma de crear listas es mediante la funci√≥n list().

list(c) : Crea una lista con los elementos de la secuencia o colecci√≥n c.<BR>
Se pueden indicar los elementos separados por comas, mediante una cadena, o mediante una colecci√≥n de elementos iterable.

#**Acceso a los elementos de una lista**
Se utilizan los mismos operadores de acceso que para cadenas de caracteres.<BR>

l[i] : Devuelve el elemento de la lista l con el √≠ndice i.<BR>
 El √≠ndice del primer elemento de la lista es 0.

In [ ]:
a=['P', 'Y', 'T', 'H', 'O', 'N']
a[-2]

'O'

#**Operaciones que no modifican una lista**<BR>
len(l) : Devuelve el n√∫mero de elementos de la lista l.<BR>
min(l) : Devuelve el m√≠nimo elemento de la lista l siempre que los datos sean comparables.<BR>
max(l) : Devuelve el m√°ximo elemento de la lista l siempre que los datos sean comparables.<BR>
sum(l) : Devuelve la suma de los elementos de la lista l, siempre que los datos se puedan sumar.<BR>
dato in l : Devuelve True si el dato dato pertenece a la lista l y False en caso contrario.<BR>
l.index(dato) : Devuelve la posici√≥n que ocupa en la lista l el primer elemento con valor dato.<BR>
l.count(dato) : Devuelve el n√∫mero de veces que el valor dato est√° contenido en la lista l.<BR>
all(l) : Devuelve True si todos los elementos de la lista l son True y False en caso contrario.<BR>
<BanR>

In [ ]:
a=[1, 3, 5, 7]
len(a)

4

## Ejercicio

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matem√°ticas, F√≠sica, Qu√≠mica, Historia y Lengua) en una lista y la muestre por pantalla.

# **Iterando por listas**

In [ ]:
letras=["f", "g", "h", "o"]
encontrado=False

for i in letras:
  if i =="m":
    encontrado=True
if encontrado == True:
    print("La letra esta")
else:
    print("La letra no esta")

La letra no esta

#**Ejercicios**

# **Buscando en una lista**
#1. Programa que pide un n√∫mero al usuario. Si ese numero sumado con algun numero de la lista dada es igual a 100, el programa dice que el n√∫mero cumple la condici√≥n. (Realizarlo con el operador IN o con el bucle FOR-IN

In [ ]:
lista = [28, 36, 43, 52, 61, 75, 84, 97]

# **Contando elementos**
## **2. Programa que compruebe cuantas veces esta un numero en una lista dada**

In [ ]:
lista = [21, 39, 46, 5, 13, 21]
numero=21
contador=0
for i in lista:
  if i==numero:
    contador+=1
print("el numero", numero, "esta", contador, "veces" )

el numero 21 esta 2 veces

#**METODOS**

##Append<BR>
Este metodo agrega un elemento al final de una lista.

In [ ]:
notas = [2.5, 3.5, 4.3, 5, 1.2]
notas.append(4.8)
notas

[2.5, 3.5, 4.3, 5, 1.2, 4.8]

##Count<br>
Este m√©todo recibe un elemento como argumento, y cuenta la cantidad de veces que aparece en la lista.

In [ ]:
notas = [2.5, 3.5, 4.3, 5, 1.2]
notas.count(2.5)
print(notas.count(2.5))

1

##extend()<br>
Este m√©todo extiende una lista agregando un iterable al final.

In [ ]:
notas = [2.5, 3.5, 4.3, 5, 1.2]
notas.extend([3.0])
notas

[2.5, 3.5, 4.3, 5, 1.2, 3.0]

In [ ]:
notas = [2.5, 3.5, 4.3, 5, 1.2]
notas.extend(range(3,5))
notas

[2.5, 3.5, 4.3, 5, 1.2, 3, 4]

##index()<br>
Este m√©todo recibe un elemento como argumento, y devuelve el √≠ndice de su primera aparici√≥n en la lista.

In [ ]:
lista = [2.5, 3.5, 4.3, 5, 1.2]
print(lista.index(5))

3

##insert()<br>
Este m√©todo inserta el elemento x en la lista, en el √≠ndice i.

In [ ]:
lista = [2.5, 3.5, 4.3, 5, 1.2]
lista.insert(1, 2)
lista

[2.5, 2, 3.5, 4.3, 5, 1.2]

##pop()<br>
Este m√©todo devuelve el √∫ltimo elemento de la lista, y lo borra de la misma.

In [ ]:
lista2 = [2.1, 2.5, 3.6, 4, 5, 6]
lista2.pop()
lista2

[2.1, 2.5, 3.6, 4, 5]

In [ ]:
lista2 = [2.1, 2.5, 3.6, 4, 5, 6]
lista2.pop(2)
lista2

[2.1, 2.5, 4, 5, 6]

##remove()<br>
Este m√©todo recibe como argumento un elemento, y borra su primera aparici√≥n

In [ ]:
lista2 = [2.1, 2.5, 3.6, 4, 5, 6]
lista2.remove(3.6)
lista2

[2.1, 2.5, 4, 5, 6]

##reverse()<br>
Este m√©todo invierte el orden de los elementos de una lista.

In [ ]:
lista2 = [2.1, 2.5, 3.6, 4, 5, 6]
lista2.reverse()
lista2

[6, 5, 4, 3.6, 2.5, 2.1]

##sort()
Este m√©todo ordena los elementos de una lista.

In [ ]:
lista3 = [4, 2.5, 5, 3.8, 2.1, 6]
lista3.sort()
lista3

[2.1, 2.5, 3.8, 4, 5, 6]

In [ ]:
lista3 = [4, 2.5, 5, 3.8, 2.1, 6]
lista3.sort(reverse = True)
lista3

[6, 5, 4, 3.8, 2.5, 2.1]

In [ ]:
####AQUI

##Funci√≥n split()
<br>
Retorna una lista

In [ ]:
mensaje = "Hola mundo Cruel"
mensaje.split()
mensaje
#iterar sobre la lista
for palabra in mensaje.split():
  print(palabra)

Hola
mundo
Cruel

##iterar sobre dos o m√°s secuencias<br>
Para iterar sobre dos o m√°s secuencias al mismo tiempo, los valores pueden emparejarse con la funci√≥n
integrada zip().

In [ ]:
preguntas = ["nombre", "objetivo", "sistema operativo"]
respuestas = ["Leonardo", "aprender Phyton", "Linux"]
for pregunta, respuesta in zip(preguntas, respuestas):
  print("¬øCual es tu {0}?, la respuesta es: {1}".format(pregunta, respuesta))

¬øCual es tu nombre?, la respuesta es: Leonardo
¬øCual es tu objetivo?, la respuesta es: aprender Phyton
¬øCual es tu sistema operativo?, la respuesta es: Linux

# Ejercicio
# 3. Programa que crea una lista con 100 elementos que son los numeros enteros del 1 al 100

In [ ]:
numeros=[]
for n in range(1,101):
  numeros.append(n)
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

### 2. Tenemos una lista de n√∫meros y queremos separar los pares de los impares, y guardarlos en otras dos listas. Hazlo con el metodo append**

In [ ]:
numeros=[2, 3, 4, 5, 8, 9, 12, 21, 24, 25, 28]

## 3. Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matem√°ticas, F√≠sica, Qu√≠mica, Historia y Lengua) en una lista y la muestre por pantalla.

## 4. Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matem√°ticas, F√≠sica, Qu√≠mica, Historia y Lengua) en una lista y la muestre por pantalla.

## 5. Escribir un programa que pregunte al usuario los n√∫meros ganadores de la loter√≠a primitiva, los almacene en una lista y los muestre por pantalla ordenados de menor a mayor.

## 6. Escribir un programa que almacene en una lista los n√∫meros del 1 al 10 y los muestre por pantalla en orden inverso separados por comas.

## 7. Escribir un programa que pida al usuario una palabra y muestre por pantalla si es un pal√≠ndromo.